<template name="informeCarnets">
  
   <h1><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <b>INFORME CARNETS</b> <small> realizados a socios</small></h1>
 <div  class='col-md-2'>
   <span style="float:right" class="label label-primary">{{totalAno}} </span>
   <input class="form-control" id="anoSeleccion" type="number" value="{{anoSeleccion}}" style="width:80px;float:left" placeholder="Año"><br><br><br>
   <ul class="list-group">
  
    {{#each mes in meses}}
     {{>cadaMesCarnets mes=mes}}
   {{/each}}
  
</ul>
   
  </div>
   <div  class='col-md-6'>
      <div id="printArea">
       {{>detalleMesCarnets mes=mesSeleccion items=itemsSeleccion}}
     
     
     </div>
     
      <button style="width:100%" id="imprimir" class="btn btn-success">
       <span  class="glyphicon glyphicon-print" aria-hidden="true"></span>
       Imprimir
     </button>
  </div>
     
 
</template>
<template name="cadaMesCarnets">
<li class="list-group-item"><a style="cursor:pointer" class="mesSeleccion">{{mes}}</a>  
  <span class="mesCarnets label {{claseTotalMes}}" style="cursor:pointer;float:right">{{totalMes}}</span> </li>
</template>
<template name="detalleMesCarnets">
<h2>DETALLE DEL MES <b>{{mes}}</b></h2>
  <table class="table table-condensed">
<thead><tr><th>FECHA</th><th>SOCIO</th><th></th></tr></thead>
    <tbody>
 {{#each items}}
{{>filaDetalleMesSeleccionCarnets}}
 {{/each}}
        </tbody>
  </table>
</template>
<template name="filaDetalleMesSeleccionCarnets">
  <tr><td>{{fecha}}</td><td>{{socio}}</td><td>{{imagenSocio}}</td></tr>   
</template>