<template name="impresionCarnets">
   <div class="modal fade " tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
                    <h4 class="modal-title">
                      <button style="float:right" id="btnAcepta" class=" btn btn-success btn-sm"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> IMPRIMIR</button> 
         </h4>
                </div>
                <div class="modal-body">
                 
                <canvas id="contenedor" width="890" height="800px"></canvas>
                </div>

    </div>
  </div>
</div>
</template>
<template name="impresionCarnetsDobles">
   <div class="modal fade " tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
                    <h4 class="modal-title">
                      <table>
                        <tr><td style="width: 350px"><input id="nroSocio1" placeholder="Socio 1" style="width: 80px"></td><td><input id="nroSocio2" placeholder="Socio 2" style="width: 80px"></td><td><button id="btnBuscar" class="btn  btn-success">Buscar Socios</button></td></tr>
                         <tr><td><input id="nombreSocio1" placeholder="Nombre socio 1" style="width: 100%"></td><td><input  id="nombreSocio2" placeholder="Nombre socio 2" style="width: 100%"></td><td></td></tr>
                      </table>
                      
                    
                      
                      <button style="float:right" id="btnAcepta" class=" btn btn-success btn-sm"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> IMPRIMIR</button> 
         </h4>
                </div>
                <div class="modal-body">
                 
                <canvas id="contenedor" width="890px" height="800px"></canvas>
                </div>

    </div>
  </div>
</div>
    
    
</template>


